/* GENERALI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}

.grey-text {
    color: rgb(127, 129, 134);
}

.white-text {
    color: white;
}

/* WRAPPER */
#wrapper {
    height: 100vh;
    overflow: hidden;
}

/* SEZIONE PRINCIPALE */
#main {
    display: flex;
    height: calc(100% - 80px);
}

/* side-bar */
#main_side_bar {
    background-color: rgb(0, 0, 0);
    min-width: 200px;
    padding: 15px;
}

#main_side_bar_logo img {
    max-width: 70%;
}

.mini-logo {
    display: none;
}

/* contenuto sezione principale */
#main_content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 15px;
    overflow-y: auto;
    height: 100%;
    position: relative;
    background-color: rgb(20, 25, 34);
     /* DEBUG */
    /* height: calc(100% - 90px); */
}

/* top-bar */
#main_content_top_bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 90px;
    width: calc(100% - 200px);
    background-color: rgba(0, 0, 5, 0.5);
    padding: 0px 30px;
}

.link {
    text-decoration: none;
}

.btn {
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 30px;
    color: white;
    transition: all 0.5s;
}

.btn:hover {
    scale: 1.2;
}

/* parte centrale */
#main_content_mid_nav {
    text-align: center;
    margin-top: 90px;
}

#main_content_mid_nav li {
    list-style-type: none;
    display: inline-block;
    margin: 10px 15px;

}

/* BOTTOM BAR */
#bottom_bar {
    height: 80px;
    background-color: rgb(40, 40, 40);
}


/* RESPONSIVE */

/* height adjustment */
@media screen and (max-height: 210px) {
    
    #main {
        min-height: 130px;
    }

}

/* xs version */
@media screen and (max-width: 570px) {

    #main_side_bar {
        min-width: 60px;
        text-align: center;
    }

    #main_side_bar_logo img {
        max-width: 100%;
    }

    .logo {
        display: none;
    }

    .mini-logo {
        display: inline-block;
    }

    #main_content_top_bar {
        width: calc(100% - 60px);
    }
}